<h1>Nos vélos</h1>

<ul>
<% @bikes.each do |bike| %>
    <li>
        <p><%= bike.bike_type %></p>
        <p>Prix abonnement par mois <%= bike.price %> € </p>  
    </li>
<% end%>
</ul>

<%= link_to "Souscrire à un abonnement", new_subscription_path %>
<br>
<% if current_user.admin? %>
  <%= link_to "Abonnements des utilisateurs ", subscriptions_path %>
  <% else %>

<%= link_to "Vos abonnement(s)", subscriptions_path %>
<% end %>
